<!-- <div class="container">
  <div class="row mt-3">
    <a href="/habit/dashboard"
      ><button class="btn btn-lg btn-dark p-4">Open Habits Dashboard</button></a
    >
  </div>
</div> -->

<div class="card text-center">
  <div class="card-header">Habit Tracker App</div>
  <div class="card-body">
    <h3 class="card-title text-primary">Habit Tracker App</h3>
    <p class="card-text">
      Add and track habits with our Habit Tracker App.
    </p>
    <p class="card-text">
      All details like streaks, completed days and view is based on 7 days status.
    </p>
    <a href="/habit/dashboard" class="btn btn-lg btn-outline-primary">Open Habit tracker Dashboard</a>
  </div>
  <div class="card-footer text-muted">Shubham Gupta</div>
</div>
